<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedido Personalizado</title>
</head>
<body>

<h2>Pedido Personalizado</h2>

<form th:action="@{/pedidos/guardar}" th:object="${pedido}" method="post">

    <input type="hidden" th:field="*{id}">

    <label>Cliente:</label>

    <select th:field="*{cliente}">
        <option th:each="c : ${clientes}"
                th:value="${c.id}"
                th:text="${c.nombre}">
        </option>
    </select>

    <br><br>

    <label>Descripción:</label>
    <textarea th:field="*{descripcion}"></textarea>

    <br><br>

    <label>Fecha Entrega:</label>
    <input type="date" th:field="*{fechaEntrega}">

    <br><br>

    <label>Observaciones:</label>
    <textarea th:field="*{observaciones}"></textarea>

    <br><br>

    <button type="submit">Guardar Pedido</button>

</form>

<br>
<a th:href="@{/pedidos}">Volver</a>

</body>
</html>